<!--
    templateType: page
    label: Practicum page template - Liang Sun
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    {{ require_css(get_asset_url('../css/layout.css')) }}
    {{ require_css(get_asset_url('../css/main.css')) }}
    {{ standard_header_includes }}
  </head>
  <body>
    {% global_partial path="./partials/header.html" %}

    <main id="content">
      <div class="container">
        <section class="mission-section">
          <h1>Our Mission</h1>

          {% dnd_area "mission_area" label="Mission Area" %}
            {% dnd_section
              padding={
                top: 10,
                bottom: 10,
                left: 0,
                right: 0
              }
            %}
              {% dnd_column width=6 %}
                {% dnd_row %}
                  <div class="featured-image">
                    {% dnd_module "image" path="@hubspot/image" flexbox_positioning="MIDDLE_CENTER", label="Featured Image" %}
                    {% end_dnd_module %}
                  </div>
                {% end_dnd_row %}
              {% end_dnd_column %}
              {% dnd_column width=6, offset=6 %}
                {% dnd_row %}
                  {% dnd_module "rich_text" path="@hubspot/rich_text" label="Mission Statement" %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_section %}
          {% end_dnd_area %}
        </section>

        <section class="team-section">
          <h1>Our Team</h1>
          {% module "team_module" path="../modules/team", label="Team" %}
        </section>
      </div>
    </main>

    {% global_partial path="./partials/footer.html" %}

    {{ standard_footer_includes }}
  </body>
</html>
